.card {
  margin: 10px;
  padding: 10px;
  display: flex;
  border: 1px solid black;
  background-color: white;
}
html,
body {
  margin: 0;
  padding: 0;
}

.page {
  background-color: #ccc;
  padding: 30px;
  font-family: -apple-system, Roboto, sans-serif, serif;
}
@media (max-width: 700px) {
  .card {
    flex-direction: column;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .page {
    padding: 5px;
  }
}
