@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*
   * https://dev.to/madsstoumann/dark-mode-in-3-lines-of-css-and-other-adventures-1ljj 
   */
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
  background-color: #f0f0f0;
}

a {
  color: #0468bf;
  max-width: 100%;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
a:visited {
  color: #05aff2;
}
p {
  margin: 0.5em 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}
